<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>629176585968-ui89knbvmu5v4m4fdkerp56t020lul62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629176585968-ui89knbvmu5v4m4fdkerp56t020lul62</string>
	<key>API_KEY</key>
	<string>AIzaSyB6TPrCwouRigdtfxDIPG0YyCfYk47QDBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>629176585968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nus.ca.proj</string>
	<key>PROJECT_ID</key>
	<string>safely-home-550dc</string>
	<key>STORAGE_BUCKET</key>
	<string>safely-home-550dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:629176585968:ios:c4fd136f5edc478a</string>
	<key>DATABASE_URL</key>
	<string>https://safely-home-550dc.firebaseio.com</string>
</dict>
</plist>